/* 본문 스타일 */
section{height: 700px;}

/* poll 스타일 */
h1{color: black; font-weight: 600; font-size: 2.5em;}
h5{color: black; font-size: 1em;}
h4{color: gray; padding; 10px;}
ul li {list-style-type: none; margin: 10px;}

/* footer 스타일 */
footer{height: 200px; background: #eee; margin-top: 50px;}
footer address{margin: 20px; text-align: center; color: darkgray}
footer .list-inline{text-align: center;}
footer .list-inline li{display: inline-block; margin: 10px;}
