{% extends 'base.html' %}
{% block content %}
<section>
    <div class="jumbotron">
        <div class="text-center">
            <h1>투표 하기</h1>
        </div>
    </div>
    <h4 style="margin 20px 280px;">{{question.question_text }}</h4>
        <div class="card my-3" style="width:50rem;">
            <form style="padding: 40px; text-align:left" action="{% url 'poll:vote' question.id %}" method="post"
                style="width=500px; margin:0 auto;">
                {% csrf_token %}
                {% if error %}
                    <p style="color: #f00">{{ error }}</p>
                {% endif %}
                {% for choice in question.choice_set.all %}
                    <p style ="margin 20px 280px;">
                        <input type="radio" name="choice" id="choice" value="{{ choice.id }}">
                        <label for="choice">{{ choice.choice_text }}</label>
                    </p>
                {% endfor %}

            <button class ="btn btn-success" value="투표">투표</button>
            </form>
        </div>
</section>
{% endblock %}