{% load static %}
<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <title>Hi~ Pyweb</title>
    <link rel="stylesheet" href="{% static 'board/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'board/css/style.css' %}">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <a class="navbar-brand" href="{% url 'board:index' %}">Board</a>
        <!--  햄버거 메뉴  -->
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
        </button>
        <!--  로그인 메뉴  -->
        <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'common:logout' %}">{{ user.username }} (로그아웃) </a>
                    {% else %}
                    <a class="nav-link" href="{% url 'common:login' %}">로그인</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                   <a class="nav-link" href ="{% url 'board:boardlist' %}">질문/답변</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href ="{% url 'poll:index' %}">설문조사</a>
                </li>
            </li>
            </ul>
        </div>
    </nav>
{% block content %}

{% endblock %}
</div>
<script src="{% static 'board/js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'board/js/bootstrap.js' %}"></script>
{% block script %}

{% endblock %}
</body>
</html>

<!--{% load static %}-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>질문 등록 폼</title>-->
<!--    <link rel="stylesheet" href="{% static 'board/css/bootstrap.css' %}">-->
<!--</head>-->