{% extends 'base.html' %}
{% block content %}
<h5 class="border-bottom my-3 pb-2">질문 등록 </h5>
<form method ="post">       <!-- 폼 생성 -->
    {% csrf_token %}
<!--  오류 표시 Start   -->
    {% if form.errors %}
        <div class= "alert alert-danger">
            {% for field in form %}
                {% if field.errors %}
                    <strong>{{ field.label }} </strong>
                        {{ field.errors }}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
<!--        {{ form.as_p }}         &lt;!&ndash; 여기까지 &#45;&#45;!>-->
    <div class="form-group">
        <label for="subject">제목</label>
        <input type ="text" class="form-control" name="subject" id ="subject"
            value="{{ form.subject.value | default_if_none:'' }}">
<!--                value = " {{form.subject.value}}"는 저장 후 다시 페이지로 돌아왔을 때 입력한 내용은 사라지지 않게 함 -->
<!--                | default_if_none:''은 처음 입력했을 때 none이 뜨지 않게 함 -->
    </div>
    <div class="form-group">
        <label for="content">내용</label>
        <textarea name = "content" id="content" rows="5"
                  class="form-control">{{ form.content.value | default_if_none:'' }}</textarea>
    </div>
    <button type = "submit" class="btn btn-primary"> 저장하기 </button>   <!-- 저장버튼 -->
</form>
{% endblock %}